@font-face {
    font-family: 'PF Beau Sans Pro Light';
    src: url('visma4x3/fonts/PFBeauSansPro-Light.otf');
}

@font-face {
    font-family: 'PF Beau Sans Pro Thin';
    src: url('visma4x3/fonts/PFBeauSansPro-Thin.otf');
}

@font-face {
    font-family: 'PF BeauSans Pro SemiBold';
    src: url('visma4x3/fonts/PFBeauSansPro-SeBold.otf');
}

.remark-slide-content {
    background-image: url("visma4x3/images/visma-banner.jpg");
    background-position: bottom;
    font-size: 28px;
}

.title {
    background: url(visma4x3/images/visma-banner.jpg), url(visma4x3/images/title.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.title h1 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 50px 0 20px;
    margin-bottom: 0;
    font-size: 48px;
}

.title h2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    font-size: 24px;
}

.end-value {
    background-image: url("visma4x3/images/end-value-1.jpg");
}

.remark-slide-number {
    top: 12px;
}

body {
    font-family: 'PF Beau Sans Pro Light';
    font-size: 28px;
}

h1 {
    font-family: 'PF Beau Sans Pro Thin';
    font-weight: normal;
    font-size: 44px;
}

h2 {
    font-family: 'PF BeauSans Pro SemiBold';
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}